<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kat's Clothes</title>
    <link rel="stylesheet" href="/styles/homeStyle.css">
</head>

<body>
<h1>Kat's Clothes</h1>
<h2>Where we find trash and sell it to you as 'clothes' at premium prices</h2>
<nav class="navbar">
<ul>
    <li><a href="/shoeManager" class="button">Shoes</a></li>
    <li><a href="/topManager" class="button">Tops</a></li>
    <li><a href="/bottomManager" class="button">Bottoms</a></li>
    <li><a href="/hatManager" class="button">Hats</a></li>
    <li><a href="/outerWearManager" class="button">Outerwear</a></li>
</ul>
</nav>
</body>
</html>