body {
    background-image: url('./assets/home_page.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

h2, h1 {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Vertical navbar styling */
.navbar {
    width: 100px;
    background-color: transparent;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar ul {
    list-style: none;
    padding: 10px 0;
}

.navbar li {
    margin: 10px 0;
}

.navbar a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
}

/* Dashboard Styles */
.dashboard {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.charts-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.chart-wrapper {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 400px;
    width: 100%;
}