body {
    background-image: url('./assets/manager_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
}
button {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #cc0000;
}
.form-container {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
.form-container label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}
.form-container input, .form-container select {
    margin-bottom: 10px;
    padding: 5px;
}
.form-container button {
    background-color: #4CAF50;
}
.form-container button:hover {
    background-color: #45a049;
}

#tableBody {
    color: lawngreen;
}

.homeButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.homeButton:hover {
    background-color: #0056b3;
}